/* 
CORES:
#7ED957 
#C9E265
#008037 
*/


/* !Página inteira */
*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sans', sans-serif;
}

body{
    background-image: url(../img/bgimg.jpg);
}

.sidebar{
    background: #008037;
    position: fixed;
    top: 0;
    left: 0;
    width: 15%!important;
    height:100% ;
    transition: all 0.5s ease;
}

.sidebar .profile{
    text-align:center;
}

.sidebar .profile img{
    display: block;
    width:100px;
    height:100px;
    border-radius: 50%;
    margin: 0 auto;
}

.sidebar .profile h3{
    color: #ffffff;
}

.sidebar .profile p {
    color: rgb(206,240,253);
    font-size:14px ;
}

.sidebar  ul{
    padding: 0;
    width: 200px;
}

.sidebar  ul li{
    display: block;
    padding: 5%;
    color: white;
    font-size: 13px;
    position: relative; 
}

.sidebar  ul li .icon{
    color:white;
    width:30px;
    display:inline-block;
}

.active{
    background-color: white;
    color: #008037!important;
}

.aulas:hover{ 
	background: #7ED957; 
}

.aulasBloq {
    background-color: #225a3a;
}

.perfil:hover{
    color: transparent;
}

.secao{
    height: 100vh!important;
}

.avatar{
    border: 1px solid black;
    border-radius: 100%;
}

.menu-elements{
    background-color: #118f47!important;
    overflow-y: scroll;
    max-height: 75%;
}

.conteudo{
    overflow-y: scroll;
}

.menu-elements::-webkit-scrollbar,.conteudo::-webkit-scrollbar {
    width: 10px;
}

.menu-elements::-webkit-scrollbar-track,.conteudo::-webkit-scrollbar-track {
    background: transparent;
}

.menu-elements::-webkit-scrollbar-thumb,.conteudo::-webkit-scrollbar-thumb {
    background-color: #C9E265;
}

.fundocard {
    background-image: url(../img/bgimg.jpg);
}

.borda{
    border: 10px solid #008037;
    border-radius: 10px;
}

.tamanho{
    width: 100vw;
    height: 100vh;
}

.bg-color {
    background-color: #008037!important;
    border-radius: 10px;
    color: white;
}