.input-container {
    font-weight: var(--fonte-peso-input);
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
}

.input {
    box-sizing: border-box;
    padding: 1.375rem 0.5rem 0.5rem;
    height: 3rem;
    width: 100%;
    color: black!important;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 10px;
}

.input::placeholder {
    visibility: hidden;
}

.pl {
    background-color: white;
}

.pl::placeholder {
    visibility: visible!important;
}

.input:focus {
    outline: none;
}

.input-label-lg {
    position: absolute;
    top: 0.6rem;
    left: 1rem;
    font-size: var(--fonte-tamanho-input-label);
    color: black;
    transition: all .25s;
}

.input:not(:placeholder-shown) + .input-label-lg, .input:focus + .input-label-lg {
    font-size: 0.875rem;
    top: 0.25rem;
    font-size: 10px;
    transition: all .25s;
}

.input-container--invalido {
    margin-bottom: 0.5rem;
}

.input-container--invalido .input {
    border: 1px solid #008037;
    border-radius: 7px;
}

.input-container--invalido .input-label-lg {
    color: #008037;
    font-weight: bold;
}

.input-mensagem-erro {
    display: none;
}

.input-container--invalido .input-mensagem-erro {
    color: #008037;
    display: block;
    margin-top: -10px;
    padding: 10px;
}

.inputSel{
    box-sizing: border-box;
    border-bottom: 1px solid black;
    padding: 0.5rem 0.5rem;
    height: 2.5rem;
    width: 100%;
    color: #008037;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}

.inputNum{
    box-sizing: border-box;
    border-bottom: 1px solid black;
    padding: 0.5rem 0.5rem;
    height: 2rem;
    color: #008037;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    -moz-appearance: textfield;
    appearance: textfield;
}

.inputNumB{
    box-sizing: border-box;
    border-bottom: 1px solid black;
    padding: 0.5rem 0.5rem;
    height: 100%;
    width: 20%!important;
    color: black;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button { 
    -webkit-appearance: none;   
}

.inputText{
    box-sizing: border-box;
    border-bottom: 1px solid black;
    padding: 0.5rem 0.5rem;
    width: 100%;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    -moz-appearance: textfield;
    appearance: textfield;
}