.input-container {
    font-weight: var(--fonte-peso-input);
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
}

.input {
    box-sizing: border-box;
    border-bottom: 1px solid var(--cor-secundaria);
    padding: 1.375rem 0.5rem 0.5rem;
    height: 3rem;
    width: 100%;
    color: #C9E265!important;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
}

.input::placeholder {
    visibility: hidden;
}

.input:focus {
    outline: none;
}

.input-label-lg {
    position: absolute;
    top: 0.6rem;
    left: 1rem;
    font-size: var(--fonte-tamanho-input-label);
    color: white;
    
    transition: all .25s;
}

.input:not(:placeholder-shown) + .input-label-lg, .input:focus + .input-label-lg {
    font-size: 0.875rem;
    top: 0.25rem;
    font-size: 10px;
    transition: all .25s;
}

.input-container--invalido {
    margin-bottom: 0.5rem;
}

.input-container--invalido .input {
    border: 1px solid #008037;
    border-radius: 7px;
}

.input-container--invalido .input-label-lg {
    color: #008037;
    font-weight: bold;
}

.input-mensagem-erro {
    display: none;
}

.input-container--invalido .input-mensagem-erro {
    color: #008037;
    display: block;
    margin-top: -10px;
    padding: 10px;
}