/* LAYOUT DOS CARDS*/
.fundocard{
  background-image: url(../img/cardcursos.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.card {
  position: relative;
  display: block;
  height: 100%; 
  border-radius: 0 !important;
  overflow: hidden;
  text-decoration: none;
}

.cardBusca {
  position: relative;
  display: inline-block;
  height: 50%;
  width: 25%;
  border-radius: 0 !important;
  overflow: hidden;
  text-decoration: none;
}

.abadedescricao {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;   
  border-radius: 20% 0 0;    
  background-color: #fff; 
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
}

.card:hover .abadedescricao {
  transform: translateY(0);
}

.abacard {
  position: relative;
  display: flex;
  padding: 10%;
  border-radius: 20% 0 0;    
  background-color: #fff;
  transform: translateY(-100%);
  transition: 0.2s ease-in-out;
}

.card:hover .abacard {
  transform: translateY(0);
}

.titulo {
  font-size: 1.2em;
  color: #424641;
}

.subtitulo {
  font-size: 0.8em;
  color: #424641;
}

.descricao{
  padding: 0 2em 2em;
  color: #424641;
  font-family: "MockFlowFont";   
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}    

.botao{
  border-radius: 5% !important; 
  font-size: 0.8em !important;
  background-color: #008037 !important;
  color: #fff !important;
}

input[placeholder] {
  text-align: center;
}

.cardPesquisa {
  display: inline;
}