/* 
CORES:
#7ED957 
#C9E265
#008037 
*/

/* *Padrão para titulo */
.title
{
    font-family: Lovelofont;
    font-weight: bold;
}

/* *Padrão para subtitulos */
.secundary{
    font-family: Josefinfont;
    font-weight: bold;
    color: #7ED957;
    text-decoration: none;
}

.nonTitle{
    color: #008037;
}

.hover:hover{
    color: #008037!important;
}

/* *Coloca o lembrar-me na direita */
.text-right
{
    text-align: end;
}

/* *Cor do texto Principal */
.text-color
{
    color: #C9E265;
}

/* *Atribui essa cor ao botão */
.bg-color
{
    background-color: #008037!important;
}