.fundocard{
    background-image: url(../img/bgimg.jpg);
}

.img-hover-zoom--colorize img {
    border-radius: 50%;
    width: 150px;
    height: auto;
    margin-top: 20px;
    padding: 1px;
    transition: transform .5s;
    filter: grayscale(100%);
}

.img-hover-zoom--colorize:hover img {
    filter: grayscale(0);
    transform: scale(1.05);
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes {
    font-size: 1.5rem;
    color: darkgray;
    transition: transform .5s;
}

.redes:hover {
    color: #008037;
}

.card h2 {
    font-size: 1rem;
}