/* 
CORES:
#7ED957 
#C9E265
#008037 
*/

/* FONTES */
@font-face {
    font-family: Lovelofont;
    src: url(../fonts/Lovelo\ Black.otf) format("opentype");
}

.Lovelofont{
    font-family: Lovelofont;
    color: #008037 !important;
    font-weight: bold;
}

@font-face {
    font-family: Josefinfont;
    src: url(../fonts/josefin-sans-regular.ttf) format("opentype");
}
.Josefinfont{
    font-family: Josefinfont;
    color: #000000 !important;
    font-weight: bold;
}

.nav-link{
    background-color: #e3f2fd, back;
}

.nav-link:hover{
    background-color: #7ed9577e;
}

.not-nav-link{
    color: #008037;
    text-decoration: none;
}

.not-nav-link:hover{
    color: #008037;
    cursor: default;
}

/* CORES */
.White{color: #ffffff !important;}
.Black{color: #000000 !important;}
.color{color: #7ED957 !important;}
.Background{background-color: #cbdfce !important;}
.Footer{background-color:#008037 !important;}
.Copyright{background-color: #015c28;}
.logo-instagram{background-color: #ac2bac !important;}
.logo-linkedin{background-color: #0082ca !important;}
.logo-github{background-color: #333333 !important;}

p::selection,h1::selection,h2::selection,
h3::selection,h4::selection,h5::selection,
input::selection,span::selection,a::selection,
strong::selection,div::selection,label::selection{
    background-color: #008037!important;
    color: white!important;
}

a{
    text-decoration: none!important;
}

.nonSelect,br,img{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*LAYOUT DA IMAGEM TOPO*/
.area-imagem {
    text-align: center;
    margin: 0 auto;
    color: #008037;
}

@media (min-width: 992px) {
    .area-imagem {
        text-align: left;
        max-width: 54rem;
        display: flex;
    }
}
  
.imagem-header {
    margin-top: 60px;
    min-height: 300px;
    background-image: url(../img/sectionfundo_cursos.png);
    background-size: cover;
    background-position: center;
    display: flex;
}

body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  background: #C9E265;
}

body::-webkit-scrollbar-thumb {
  background-color: #008037;
}