@font-face {
    font-family: Lovelofont;
    src: url(../fonts/Lovelo\ Black.otf) format("opentype");
}

@font-face {
    font-family: Josefinfont;
    src: url(../fonts/josefin-sans-regular.ttf) format("opentype");
}

.title
{
    font-family: Lovelofont;
    font-weight: bold;
}

.secundary{
    font-family: Josefinfont;
    font-weight: bold;
}

.main
{
    background-color: #b3deef;
}

.label-login
{
    font-size: 20px;
}

.label-signin
{
    position: absolute;
    left: 10%;
    font-size: 15px;

    transition: all .25s;
}

.text-right
{
    text-align: end;
}

.text-color
{
    color: #251a9b;
}

.bg-color
{
    background-color: #251a9b;
}

.span-si
{
    font-size: 13px;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button 
{
    -webkit-appearance: none;
    margin: 0;
}