/* *Adicionando fonte */
@font-face {
    font-family: Lovelofont;
    src: url(../fonts/Lovelo\ Black.otf) format("opentype");
}

@font-face {
    font-family: Josefinfont;
    src: url(../fonts/josefin-sans-regular.ttf) format("opentype");
}

/* *Padrão para titulo */
.title
{
    font-family: Lovelofont;
    font-weight: bold;
}

/* *Padrão para subtitulos */
.secundary{
    font-family: Josefinfont;
    font-weight: bold;
}

/* *Background */
.main
{
    background-color: #b3deef;
}

/* *Tamanho da fonte das labels do login */
.label
{
    font-size: 20px;
}

/* *Coloca o lembrar-me na direita */
.text-right
{
    text-align: end;
}

/* *Cor do texto Principal */
.text-color
{
    color: #251a9b;
}

/* *Atribui essa cor ao botão */
.bg-color
{
    background-color: #251a9b;
}

/* *Tamanho da mensagem de erro da pagina de signin */
.span-si
{
    font-size: 13px;
}